USE [master]
GO
/****** Object:  Database [cg]    Script Date: 08/30/2013 02:05:07 ******/
CREATE DATABASE [cg] ON  PRIMARY 
( NAME = N'cg', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\cg.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cg_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\cg_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cg]
GO
/****** Object:  Table [dbo].[RC_ACTION_HISTORY]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RC_ACTION_HISTORY](
	[ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[ACTION_TIME] [timestamp] NULL,
	[ACTION_NAME] [nchar](100) NULL,
	[DESCRIPTION] [nchar](100) NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_RC_ACTION_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RC_ACCOUNTS]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RC_ACCOUNTS](
	[ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nchar](60) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[ACTIVATION] [nchar](32) NOT NULL,
	[ENABLED] [smallint] NULL,
	[CREATED_TIME] [datetime2](7) NULL,
 CONSTRAINT [PK_RC_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_USERS]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_USERS](
	[USER_ID] [int] NOT NULL,
	[LOGIN_NAME] [nchar](60) NULL,
	[ACCOUNT_ID] [int] NULL,
	[SHIFT_ID] [int] NOT NULL,
	[FIRST_NAME] [nchar](30) NOT NULL,
	[LAST_NAME] [nchar](30) NOT NULL,
	[PASSWORD] [nchar](60) NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_TRANSACTION]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_TRANSACTION](
	[TRANSACTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[PAYMENT_TYPE] [int] NULL,
	[MODIFIED_TIME] [bigint] NULL,
	[TRANSACTION_TIME] [bigint] NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[TOTAL_TAX] [decimal](18, 2) NULL,
	[TOTAL_DISCOUNT] [decimal](18, 2) NULL,
	[TOTAL_PRICE] [decimal](18, 2) NULL,
	[GRATUITY_AMOUNT] [decimal](18, 2) NULL,
	[TERMINAL] [int] NULL,
	[NOTE] [nchar](100) NULL,
	[REASON_ID] [int] NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_TICKETS]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_TICKETS](
	[TICKET_ID] [nchar](10) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[CREATE_TIME] [bigint] NOT NULL,
	[CHECKOUT_TIME] [bigint] NULL,
	[PAID] [smallint] NULL,
	[VOID] [smallint] NULL,
	[SETTLED] [smallint] NULL,
	[VOID_REASON] [int] NULL,
	[TOTAL_PRICE] [decimal](18, 2) NULL,
	[TOTAL_DISCOUNT] [decimal](18, 2) NULL,
	[TOTAL_TAX] [decimal](18, 2) NULL,
	[PAID_AMOUNT] [decimal](18, 2) NULL,
	[DUE_AMOUNT] [decimal](18, 2) NULL,
	[NUM_GUEST] [int] NULL,
	[TABLE_NO] [int] NULL,
	[CHECKOUT_USER_ID] [int] NULL,
	[VOID_USER_ID] [int] NULL,
	[GRATUITY_ID] [int] NULL,
	[IS_REOPEN] [smallint] NULL,
	[TERMIAL_ID] [int] NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_TICKETS] PRIMARY KEY CLUSTERED 
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_TICKET_MODIFIER]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_TICKET_MODIFIER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[ITEM_COUNT] [int] NOT NULL,
	[MODIFIER_NAME] [nchar](100) NOT NULL,
	[MODIFIER_PRICE] [decimal](18, 2) NOT NULL,
	[EXTRA_PRICE] [decimal](18, 2) NULL,
	[MODIFIER_TYPE] [int] NULL,
	[PRINT_TO_KITCHEN] [smallint] NULL,
	[MODIFIERGROUP_ID] [int] NULL,
	[TICKETITEMMODIFIERGROUP_ID] [int] NULL,
	[ITEM_ORDER] [int] NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_TICKET_MODIFIER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_TICKET_ITEM]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_TICKET_ITEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[ITEM_ID] [int] NOT NULL,
	[ACCOUNT_ID] [nchar](10) NOT NULL,
	[ITEM_COUNT] [int] NOT NULL,
	[ITEM_NAME] [nchar](100) NULL,
	[GROUP_NAME] [nchar](100) NULL,
	[CATEGORY_NAME] [nchar](100) NULL,
	[ITEM_PRICE] [decimal](18, 2) NULL,
	[DISCOUNT_RATE] [decimal](18, 2) NULL,
	[TAX_RATE] [decimal](18, 2) NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[SUB_TOTAL_WITH_MODIFIER] [decimal](18, 2) NULL,
	[MODIFIER_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_TICKET_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_TAX]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_TAX](
	[TAX_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[NAME] [nchar](100) NULL,
	[RATE] [decimal](18, 2) NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_TAX] PRIMARY KEY CLUSTERED 
(
	[TAX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_SHIFT]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_SHIFT](
	[SHIFT_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[NAME] [nchar](100) NULL,
	[START_TIME] [bigint] NULL,
	[SHIFT_LEN] [bigint] NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_SHIFT] PRIMARY KEY CLUSTERED 
(
	[SHIFT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_RESTO_PAYMENT_MOTHOD]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_RESTO_PAYMENT_MOTHOD](
	[METHOD_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[ENABLED] [smallint] NOT NULL,
 CONSTRAINT [PK_CR_RESTO_PAYMENT_MOTHOD] PRIMARY KEY CLUSTERED 
(
	[METHOD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_PRINTER_CONFIG]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_PRINTER_CONFIG](
	[PRINTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[NAME] [nchar](100) NULL,
	[TYPE] [int] NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_PRINTER_CONFIG] PRIMARY KEY CLUSTERED 
(
	[PRINTER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_PAYMENT_METHOD]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_PAYMENT_METHOD](
	[ID] [int] NOT NULL,
	[NAME] [nchar](100) NOT NULL,
 CONSTRAINT [PK_CR_PAYMENT_METHOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_MENUITEM_MODIFIER_GROUP]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_MENUITEM_MODIFIER_GROUP](
	[ID] [int] NOT NULL,
	[MIN_QUANTITY] [int] NOT NULL,
	[MAX_QUANTITY] [int] NOT NULL,
	[MENU_ITEM] [int] NULL,
	[GROUP_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_MENUITEM_MODIFIER_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_MENU_MODIFIER_GROUP]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_MENU_MODIFIER_GROUP](
	[MODIFIER_GROUP_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[NAME] [nchar](100) NOT NULL,
	[ENABLED] [smallint] NULL,
	[EXCLUSIVED] [smallint] NULL,
	[REQUIRED] [smallint] NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NOT NULL,
 CONSTRAINT [PK_CR_MENU_MODIFIER_GROUP] PRIMARY KEY CLUSTERED 
(
	[MODIFIER_GROUP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_MENU_MODIFER]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_MENU_MODIFER](
	[MODIFIER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[NAME] [nchar](100) NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[EXTRA_PRICE] [decimal](18, 2) NOT NULL,
	[ENABLE] [smallint] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[TAX_ID] [int] NOT NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIER_BY] [int] NULL,
 CONSTRAINT [PK_CR_MENU_MODIFER] PRIMARY KEY CLUSTERED 
(
	[MODIFIER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_MENU_ITEM]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_MENU_ITEM](
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[VISIBLE] [smallint] NOT NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_MENU_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_MENU_GROUP]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_MENU_GROUP](
	[GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[NAME] [nchar](100) NOT NULL,
	[VISIBLE] [smallint] NOT NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_MENU_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_MENU_CATEGORY]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_MENU_CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[NAME] [nchar](100) NOT NULL,
	[VISIBLE] [smallint] NOT NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_MENU_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_ACCOUNT_TABLE]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_ACCOUNT_TABLE](
	[TABLE_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[CAPACITY] [int] NOT NULL,
	[ENABLED] [smallint] NULL,
	[BOOKED] [smallint] NOT NULL,
 CONSTRAINT [PK_CR_ACCOUNT_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC,
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_ACCOUNT_LEVEL_TYPES]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_ACCOUNT_LEVEL_TYPES](
	[ACCOUNT_LEVEL_ID] [int] NOT NULL,
	[NAME] [nchar](60) NOT NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_ACCOUNT_LEVEL_TYPES] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_LEVEL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CR_ACCOUNT_LEVEL]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CR_ACCOUNT_LEVEL](
	[ACCOUNT_ID] [int] NOT NULL,
	[ACCOUNT_LEVEL_ID] [int] NOT NULL,
	[MODIFIED_TIME] [timestamp] NULL,
	[MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK_CR_ACCOUNT_LEVEL] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[ACCOUNT_LEVEL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RC_RESTAURANT]    Script Date: 08/30/2013 02:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RC_RESTAURANT](
	[RESTAURANT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](60) NOT NULL,
	[ADDRESS_LINE1] [nchar](60) NOT NULL,
	[ADDRESS_LINE2] [nchar](60) NULL,
	[TELEPHONE1] [nchar](30) NOT NULL,
	[TELEPHONE2] [nchar](30) NULL,
	[ZIPS] [nchar](10) NOT NULL,
	[FAX] [nchar](30) NULL,
	[CONTACT_PERSON] [nchar](30) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[CITY] [nchar](60) NOT NULL,
	[CONTACT_MOBILE] [nchar](30) NOT NULL,
	[MODIFIED_TIME] [timestamp] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[TABLE_NUMBER] [int] NULL,
 CONSTRAINT [PK_RC_RESTAURANT] PRIMARY KEY CLUSTERED 
(
	[RESTAURANT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_RC_RESTAURANT_RC_ACCOUNTS]    Script Date: 08/30/2013 02:05:09 ******/
ALTER TABLE [dbo].[RC_RESTAURANT]  WITH CHECK ADD  CONSTRAINT [FK_RC_RESTAURANT_RC_ACCOUNTS] FOREIGN KEY([RESTAURANT_ID])
REFERENCES [dbo].[RC_ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[RC_RESTAURANT] CHECK CONSTRAINT [FK_RC_RESTAURANT_RC_ACCOUNTS]
GO
