@using System.Web.Mvc.Html
@using CG.Presentation.WebHost.Constants
@model CG.Presentation.WebHost.Models.TestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <p>Message:</p>
                               @if (Model.TestObject == null)
                               {
                                   <h2>Nothing return from the Model</h2>
                               }
                               else
                               {
                                   <h2>@Model.TestObject.Message</h2>
                               }
                           <p> from WebApi</p>
        </div>
        <div>
            @using (Html.BeginForm(ActionNames.TestPublishMessage, ControllerNames.TestController, FormMethod.Post))
            {
                <input type="submit" name="@ActionNames.TestPublishMessage" 
                   value="Publish" />
            }
        </div>
    </body>
</html>