@model CG.Presentation.WebHost.Models.TestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              <p>Message:</p><h2>@Model.TestObject.Message</h2><p> from WebApi</p>
        </div>
    </body>
</html>